<section id="OurService"
*ngFor = "let service of serviceData">
    <div class="container mt-5">
        <div class="row">

            <!--Our Service Text-->
            <div class="col-md-6">
                <h4 class="Titles">Our Services</h4>
                <p class="Text" [innerHTML] = "service.description">
                   
                </p>

            </div>

            <!--Our Service Image-->
            <div class="col-md-6">
                <img class="AboutImages" [src]="getFilePath(service.imageFile)" />
            </div>
        </div>
    </div>

    <!--Last Large Image In Our Service Part-->
    <div class="container-fluid mt-5">
        <div class="row"
        *ngFor = "let image of service.images">
            <img [src]="getFilePath(image)" alt="Our Images" style="width:100%" />
        </div>
    </div>
</section>
